body{
    background: rgb(2,0,36);
background: white;
background-attachment: fixed;
color: white;
}
nav{
    background-color: (rgb(2,0,36), rgba(4, 66, 78) 100%);
    }
    .card-body{
    color:black
    }
    .card-img{
        max-width: 100%;
        height: auto;
        max-height: 115px;
        }